@import '../util/mixin.scss';


.fonction {
    @include pad0;
    & ol {
        display: flex;
        gap: 1.2rem;
        @include pad0;
        @media (max-width: 992px){
            flex-direction: column;
        }
    }
    & li {
        background-color: #F6F6F6;
        list-style-type: none;
        padding: 0.7rem 2rem;
        flex-grow: 1;
        border-radius: 15px;
        display: flex;
        align-items: center;
        @include shadowlight;
        & p{
            font-weight: bold;
        }
        &:hover{
            background-color:#e7dcf3;
            i.fas{
                color: #9356dc;
            }
        }
        & i.fas{
            font-size: 20px;
            margin-right: 20px;
            margin-left: -20px;
            color: rgb(133, 130, 130);
        }
    }
}

.list{
    border: none;
    border-radius: 30px;
    background-color: #9356dc;
    width: 21px;
    height: 20px;
    color: white;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    right: 40px;
    top: 2px;
    font-size: 12px;
}