@import '../util/mixin.scss';
footer{
    background-color: rgb(61, 60, 60);
    color: white;
    & h3{
        font-family: "Shrikhand", cursif;
        margin-top: 0;
        padding-top: 0.7rem;
    }
    & p{
        margin: 10px 0;
        margin-bottom: 5px;
    }
    & .fa-hands-helping{
        font-size: 13px;
        margin-right: -2px;
    
    }
}
.foot_contener{
    padding: 1rem 1rem 2rem 1rem;
    & .foot_link{
        @include flexbase;
    }
}
.contact{
    color: white;
}