@import '../util/mixin.scss';
nav{
    background-color: #F6F6F6;
}
.menu_contener{
    padding: 5%;
    
}

.bgmenu{
    width: 100%;
    height: auto;
    border: none;
    border-radius: 15px;
    @include shadow;
    & img{
        width: 100%;
        height: 200px;
        border-radius: 10px 10px 0 0;
    }
}
