@import '../util/mixin.scss';
@import '../variables/variable.scss';

nav{
    background-color: #F6F6F6;
    & h2{
        @include pad0;
    }
}
.menu_contener{
    padding: 0 5%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    @media (min-width: 768px){
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    }
    @media (min-width: 992px){
        padding: 1rem;
    }
}
    

.bgmenu{
    width: 100%;
    height: auto;
    border: none;
    border-radius: 15px;
    margin-bottom: 20px;
    @include shadow;
    position: relative;
    
    & img{
        width: 100%;
        height: 200px;
        border-radius: 10px 10px 0 0;
        object-fit: cover;
    }
    .new{
        background-color: $green;
        color: darken($green, 50%);
        width: 65px;
        padding: 1%;
        margin: 0;
        position: absolute;
        right: 10px;
        top: 13px;
        @include shadow;
    }
    & h3{
        margin-top: 0;
    }
}

.title_card{
    padding: 0.5rem;
    position: relative;
    & h3{
        margin: 0;}
    & p{
        margin: 0;
        }
    & .far{
        font-size: 1.5rem;
        position: absolute;
        right: 15px;
        top: 15px;

    }
}
a {
    text-decoration: none;
    color: black;
}
/*carte menu*/
.navmenu{
    background-color: #F6F6F6;
    @include pad0;
    position: relative;
    margin-top: -59px;
    border-radius: 50px 50px 0 0;
    & h2{
        font-family: "Shrikhand", cursif;
        margin: 0;
    }
}
.titlecard2{
    align-items: baseline;
    display: flex;
    justify-content: space-between;
    & i{
        margin-right: 15px;
    }
}
.btnmenu{
    border-radius: 1rem;
    background-color: white;
    margin-bottom: 13px;
    @include shadow;
    position: relative;
    & h3{
        margin: 0;
        padding: 0.2rem 1rem;
        margin-bottom: 5px;
    }
    & p{
        margin: 0;
        padding: 0.2rem 1rem;
    }
    & span{
        position: absolute;
        right: 17px;
        top: 35px;
    }
}