@import '../util/mixin.scss';
@import '../util/animation.scss';
@import '../variables/variable.scss';


nav{
    background-color: #F6F6F6;
    & h2{
        @include pad0;
    }
}
.menu_contener{
    padding: 0 5%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    @media screen and (min-width: 768px){
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    }
    @media screen and (min-width: 1200px){
        padding: 1rem 20rem;
    }
}
    

.bgmenu{
    width: 100%;
    height: auto;
    border: none;
    border-radius: 15px;
    margin-bottom: 20px;
    @include shadow;
    position: relative;
    
    
    & img{
        width: 100%;
        height: 200px;
        border-radius: 10px 10px 0 0;
        object-fit: cover;
        @media screen and (min-width: 1200px){
            height: 280px;
        }
    }
    .new{
        background-color: $green;
        color: darken($green, 40%);
        width: 65px;
        padding: 0.3rem 0.7rem;
        font-weight: bold;
        font-size: 16px;
        margin: 0;
        position: absolute;
        right: 10px;
        top: 13px;
        @include shadow;
    }
    & h3{
        margin-top: 0;
    }
}

.title_card{
    padding: 0.5rem;
    position: relative;
    & h3{
        margin: 0;
        @include ellips;
    }
        & p{
            margin: 0;
            @include ellips;
            }
            & i{
                font-size: 1.5rem;
                position: absolute;
                right: 15px;
                top: 15px;
            }
            .fas{
                color: transparent;
                background-image: $gradiant;
                background-clip: text;
                -webkit-background-clip: text;
                opacity: 0;
                transition: all 200ms ease-in-out;
                &:active{
                    opacity: 1;
                    transform-origin: 50% bottom;
                    transition-duration: 1s;
                    transform: translateY(5%) scale(1.2);
                }
            }
}
a {
    text-decoration: none;
    color: black;
}
