@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

header {
  font-family: "Shrikhand", cursif;
  text-align: center;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  padding: 0.7rem;
  position: relative;
}
header h1 {
  margin: 0;
}
header i {
  position: absolute;
  font-size: 25px;
  left: 15px;
  bottom: 17px;
}

.imgmenu {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
@media screen and (min-width: 768px) {
  .imgmenu {
    height: 350px;
    object-fit: cover;
  }
}

.location {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e5e7e9;
  text-align: center;
  gap: 1rem;
}
.location h2 {
  padding: 0.5rem;
}
.location i {
  font-size: 20px;
}

.explo {
  text-align: center;
  background-color: #f2f2f2;
}
.explo h2 {
  margin-top: 0;
  padding-top: 30px;
}
.explo button {
  border-radius: 30px;
  border: none;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  color: white;
  padding: 1rem 2rem;
  font-size: 1rem;
  background-image: linear-gradient(#ff79da, #9356dc);
  margin-bottom: 60px;
  margin-top: 10px;
  transition: all 200ms;
}
.explo button:hover {
  box-shadow: 0 0 0.9rem rgba(0, 0, 0, 0.25);
  opacity: 0.8;
}

/*menuorder*/
.btnorders {
  display: flex;
  justify-content: center;
}

.btnorder {
  border-radius: 30px;
  border: none;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  color: white;
  padding: 1rem 3.5rem;
  font-size: 1rem;
  background-image: linear-gradient(#ff79da, #9356dc);
  margin-top: 30px;
  margin-bottom: 30px;
  transition: all 200ms;
}
.btnorder:hover {
  opacity: 0.8;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
}

.fonction {
  padding: 1rem;
}
.fonction ol {
  display: flex;
  gap: 1.2rem;
  padding: 1rem;
}
@media (max-width: 992px) {
  .fonction ol {
    flex-direction: column;
  }
}
.fonction li {
  background-color: #F6F6F6;
  list-style-type: none;
  padding: 0.7rem 2rem;
  flex-grow: 1;
  border-radius: 15px;
  display: flex;
  align-items: center;
  box-shadow: 0px 4px 10px #cfcece;
}
.fonction li p {
  font-weight: bold;
}
.fonction li:hover {
  background-color: #e7dcf3;
}
.fonction li:hover i.fas {
  color: #9356dc;
}
.fonction li i.fas {
  font-size: 20px;
  margin-right: 20px;
  margin-left: -20px;
  color: #858282;
}

.list {
  border: none;
  border-radius: 30px;
  background-color: #9356dc;
  width: 21px;
  height: 20px;
  color: white;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  right: 40px;
  top: 2px;
  font-size: 12px;
}

@keyframes menu {
  0% {
    transform: translateY(-50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes load {
  100% {
    opacity: 0;
    z-index: -10;
  }
}
nav {
  background-color: #F6F6F6;
  padding-bottom: 40px;
}
nav h2 {
  padding: 1rem;
}

.menu_contener {
  padding: 0 5%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
@media screen and (min-width: 768px) {
  .menu_contener {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}
@media screen and (min-width: 1200px) {
  .menu_contener {
    padding: 1rem 20rem;
  }
}

.bgmenu {
  width: 100%;
  height: auto;
  border: none;
  border-radius: 15px;
  margin-bottom: 20px;
  box-shadow: 0px 1px 5px #bbbbbb;
  position: relative;
}
.bgmenu img {
  width: 100%;
  height: 200px;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
}
@media screen and (min-width: 1200px) {
  .bgmenu img {
    height: 280px;
  }
}
.bgmenu .new {
  background-color: #99E2D0;
  color: #278870;
  width: 65px;
  padding: 0.3rem 0.7rem;
  font-weight: bold;
  font-size: 16px;
  margin: 0;
  position: absolute;
  right: 10px;
  top: 13px;
  box-shadow: 0px 1px 5px #bbbbbb;
}
.bgmenu h3 {
  margin-top: 0;
}

.title_card {
  padding: 0.5rem;
  position: relative;
}
.title_card h3 {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}
.title_card p {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}
.title_card i {
  font-size: 1.5rem;
  position: absolute;
  right: 15px;
  top: 15px;
}
.title_card .fas {
  color: transparent;
  background-image: linear-gradient(#ff79da, #9356dc);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 50ms ease-in-out;
  transform: translate(50% 100%);
}
.title_card .fas:hover {
  opacity: 1;
  transform-origin: 50% bottom;
  transition-duration: 0.5s;
  transform: scale(1.2);
}

a {
  text-decoration: none;
  color: black;
}

footer {
  background-color: #3d3c3c;
  color: white;
}
footer h3 {
  font-family: "Shrikhand", cursif;
  margin-top: 0;
  padding-top: 0.7rem;
}
footer p {
  margin: 10px 0;
}
footer .fa-hands-helping {
  font-size: 13px;
  margin-right: -2px;
}

.foot_contener {
  padding: 1rem;
}
.foot_contener .foot_link {
  display: flex;
  align-items: baseline;
  gap: 0.5rem;
}

.contact {
  color: white;
}

@keyframes menu {
  0% {
    transform: translateY(-50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes load {
  100% {
    opacity: 0;
    z-index: -10;
  }
}
@media screen and (min-width: 1200px) {
  .menu_cat {
    display: flex;
    justify-content: space-around;
  }
  .menu_cat .btnmenu {
    width: 386px;
  }
}

.navmenu {
  background-color: #F6F6F6;
  padding: 1rem;
  position: relative;
  margin-top: -59px;
  border-radius: 50px 50px 0 0;
}
.navmenu h2 {
  font-family: "Shrikhand", cursif;
  font-size: 30px;
  margin: 0;
}
.navmenu i {
  font-size: 25px;
}

.titlecard2 {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
}
.titlecard2 i {
  margin-right: 15px;
}

.titlecat {
  border-bottom: 3px solid #99E2D0;
  padding-bottom: 0.3rem;
  width: 40px;
}

.btnmenu {
  border-radius: 1rem;
  background-color: white;
  margin-bottom: 13px;
  box-shadow: 0px 1px 5px #bbbbbb;
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  animation: menu 0.5s;
  animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  animation-fill-mode: both;
  transform: scale(0);
}
.btnmenu:nth-child(1) {
  animation-delay: 100ms;
}
.btnmenu:nth-child(2) {
  animation-delay: 200ms;
}
.btnmenu:nth-child(3) {
  animation-delay: 300ms;
}
.btnmenu:nth-child(4) {
  animation-delay: 400ms;
}
.btnmenu:nth-child(5) {
  animation-delay: 500ms;
}
.btnmenu:nth-child(6) {
  animation-delay: 600ms;
}
.btnmenu .menu_descrip {
  padding: 0.5rem 0rem 0.5rem 0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.btnmenu h3 {
  margin: 0;
  padding: 0.2rem 0;
  margin-bottom: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.btnmenu p {
  margin: 0;
  padding: 0.2rem 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.btnmenu .price {
  display: flex;
  align-items: flex-end;
  margin-left: auto;
  font-weight: bold;
  padding: 1rem 1rem 1rem 0;
}
.btnmenu .valid {
  display: grid;
  place-items: center;
  background-color: #99E2D0;
  height: auto;
  width: 3.9rem;
  margin-right: -3.9rem;
  transition: all 1s;
}
.btnmenu i {
  display: grid;
  place-items: center;
  background-color: white;
  border-radius: 50%;
  height: 1.5rem;
  width: 1.5rem;
  color: #99E2D0;
  transform: rotate(0deg);
  transition-duration: 1s;
}
.btnmenu:hover .valid {
  margin-right: 0;
}
.btnmenu:hover i {
  transform: rotate(360deg);
}

.pageload {
  position: fixed;
  display: grid;
  place-items: center;
  background-color: white;
  height: 100vh;
  inset: 0;
  z-index: 1;
  opacity: 0.7;
  animation: pageload 2s forwards;
}
.pageload .loarderspin {
  border-radius: 50%;
  border: 5px solid black;
}
.pageload::after {
  content: "";
  color: #9356dc;
  width: 100px;
  height: 100px;
  border-right: 5px solid transparent;
  border-top: 5px solid #9356dc;
  border-radius: 50%;
  animation: spin 2s infinite ease-in-out;
}

@keyframes pageload {
  0% {
    transform: scale(1);
  }
  100% {
    visibility: hidden;
  }
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
